body {
  background: #F5C556;
  margin-bottom: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 1.9rem;
  opacity: 0.5;
  text-transform: capitalize;
  font-weight: 900;
}
h5{
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 70%;
  margin: 20px auto 60px auto;
}
#home{
  cursor: pointer;
  transition: ease .5s;
}

#home:hover {
  transform: scale(1.1);
}
.search1 {
  justify-content: center;
  display: flex;
}
.search2 {
  display: flex;
  justify-content: center;
}

.search {
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.form-control {
  border: 0;
}

.form button {
  border: 0;
}

.form button i {
  color: #9e720a;
}

select {
  cursor: pointer;
}

.search_input {
  background: #f0d698;
  border-radius: 30px;
  width: 100%;
  transition: .5s ease-out;
  color: #9e720a;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 30px 30px 30px 60px;
}

.search_input::placeholder {
  color: #9e720a;
}

.search_input[type=text]:focus:not([readonly]),
#search_select[type=text]:focus:not([readonly]),
.custom-select:focus{
  color: #9e720a !important;
  background: #fff !important;
  -webkit-box-shadow: 0px 0px 34px -18px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 0px 34px -18px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 0px 34px -18px rgba(0, 0, 0, 0.75) !important;
}
.input-group-append{
  align-items: center !important;
}
.input-group{
  width: 100%;
}
.custom-select {
  border: 0;
  border-radius: 0;
}

.custom-select:focus {
  box-shadow: none;
}

#search_select {
  background: #f0d698;
  border-radius: 30px;
  transition: .5s ease-out;
  color: #9e720a;
  font-size: 1.4rem;
  font-weight: 100;
  padding-left: 28px;
  height: 59px;
}
option {
  background: #fff;
  font-weight: 100;
}
.btn-search {
  background: #0069d9;
  border-radius: 24px !important;
  padding: 11px 17px;
  color: #fff;
  position: absolute !important;
  right: 10px;
  z-index: 3 !important;
}
.btn-search:hover {
  color: #fff;
  background: #034285;
}

.icon {
  font-size: 1.4rem;
  color: #9e720a;
  position: absolute;
  left: 25px;
}
.icon2 {
  position: absolute;
  right: 113px;
  color: #9e720a;
  font-size: 20px;
  z-index: 3;
}
.buscador {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.serach_align {
  padding: 0px 20px;
}

.card {
  border: 0;
  border-radius: 1rem;
  background: transparent;
  margin-top: 30px;
  transition: ease .5s;
  width: 85%;
}

.card:hover {
  transform: scale(1.1);
}

.card-body {
  text-align: center;
  background-color: #93CDAF;
  border-radius: 1rem;
  padding-top: 100px;
  -webkit-box-shadow: 0px 0px 34px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 34px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 34px -18px rgba(0, 0, 0, 0.75);
}

.card-body h5 {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 5px;
  width: 85px;
  margin: 15px auto 20px auto;
}
.card-title{
  margin: 0;
}

#img {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: -13px;
  z-index: 1;
}

.circle {
  background: #fff;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  margin: 22px auto -88px auto;
  opacity: .2;
}

.btn-primary {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  -webkit-box-shadow: 0px 9px 14px -6px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 9px 14px -6px rgba(0,0,0,.4);
  box-shadow: 0px 9px 14px -6px rgba(0,0,0,.4);
}
.btn-primary:hover{
  border: none;
}

.modal-dialog{
  max-width: 50% !important;
}
.modal-content{
  border-radius: 1rem;
}
.modal-header, .modal-footer{
  border: none;
}
#chartContainer{
  width: 100% !important;
}
.caracterist {
  display: flex;
  justify-content: center;
}
.caracterist p {
  padding: 5px 20px;
  font-weight: bold;
  background: #ffffff61;
  border-radius: 30px;
  margin: 10px;
}
.pokemonModal{
  display: flex;
  justify-content: center;
}
.pokemonModal img {
  width: auto;
}
.iconType{
  display: flex;
  justify-content: center;
}
.description  p {
  font-weight: 300;
  padding: 15px;
  text-align: justify;
}
.modal-header {
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}
.modalName{
  text-align: center;
}
.close img {
  width: 25px;
  margin: 5px;
}
.modal_info h1{
  font-size: 2.5rem;
}
.modal_info h5 {
  text-align: center;
  font-size: 1.5rem;
}
.modal-dialog {
  max-width: 85% !important;
  margin: 10% auto;
}
.modal_grafico{
  display: none;
}
.modal-title{
  font-size: 2rem;
}
#pokemon{
  width: 50%;
  padding: 40px;
}
#pokemon img{
  width: 50%;
}
#chartContainer{
  width: 50%;
}
.canvasjs-chart-canvas {
  width: 89% !important;
}
.canvasjs-chart-credit{
  display: none;
}

.tipos {
  display: flex;
  justify-content: center;
}
.tiposPokemon{
  padding: 15px 10px;
  margin: 0;
}
.tiposPokemon img {
  width: 41px;
  border-radius: 50px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,.2);
}
.btn-primary:hover{
  background: #00000061;
}

.normal{
  background-color: #bfb16e;
}

.fighting{
  background-color: #cf5c35;
}

.flying{
  background-color: #bea0c2;
}

.poison{
  background-color: #b96889;
}

.ground{
  background-color: #e6c163;
}

.rock{
  background-color: #c9ab40;
}

.bug{
  background-color: #bebb30;
}

.ghost{
  background-color: #987984;
}

.steel{
  background-color: #cabbac;
}

.fire{
  background-color: #f2953b;
}

.water{
  background-color: #92a0c2;
}

.grass{
  background-color: #9dc652;
}

.electric{
  background-color: #f7cd3b;
}

.psychic{
  background-color: #f77979;
}

.ice{
  background-color: #b4d2b1;
}

.dragon{
  background-color: #a172bf;
}

.dark{
  background-color: #98794c;
}

.fairy{
  background-color: #f0a692;
}

.unknown{
  background-color: rgb(255, 202, 142, 0.7);
}

.shadow{
  background-color: rgb(42, 78, 141, 0.7);
}




@media (min-width: 575px) {
  #img {
    width: 85%;
  }
  .modal-dialog {
    margin: 5% auto;
}
}

@media (min-width: 768px) {
  .logo {
    width: 40%;
    margin: 20px auto 100px auto;
  }
  .serach_align {
    padding: 0px;
  }
  .form {
    margin-bottom: 0;
  }
  .modal-dialog {
    max-width: 70% !important;
    margin: 5% auto;
}
  .modal_grafico{
    display: block;
  }
}

@media (min-width: 992px) {
  .input-group, .form{
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .input-group, .form{
    width: 65%;
  }
  .modal-dialog {
    max-width: 50% !important;
    margin: auto;
  }
}


