// Colors

.normal, #normal{
  background-color: $normal;
}

.fighting, #fighting{
  background-color: $fighting;
}

.flying, #flying{
  background-color: $flying;
}

.poison, #poison{
  background-color: $poison;
}

.ground, #ground{
  background-color: $ground;
}

.rock, #rock{
  background-color: $rock;
}

.bug, #bug{
  background-color: $bug;
}

.ghost, #ghost{
  background-color: $ghost;
}

.steel, #steel{
  background-color: $steel;
}

.fire, #fire{
  background-color: $fire;
}

.water, #water{
  background-color: $water;
}

.grass, #grass{
  background-color: $grass;
}

.electric, #electric{
  background-color: $electric;
}

.psychic, #psychic{
  background-color: $psychic;
}

.ice, #ice{
  background-color: $ice;
}

.dragon, #dragon{
  background-color: $dragon;
}

.dark, #dark{
  background-color: $dark;
}

.fairy, #fairy{
  background-color: $fairy;
}

.unknown, #unknown{
  background-color: $unknown;
}

.shadow, #shadow{
  background-color: $shadow;
}
